/* themes.css */
:root {
  --bs-body-bg: #fff;
  --bs-body-color: #000;
  --bs-btn-bg: #0d6efd;
  --bs-btn-color: #fff;
}

[data-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #fff;
  --bs-btn-bg: #6610f2;
  --bs-btn-color: #fff;
}


.text-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}